@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap');

.score {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   
   .avatar {
      background-color: #fff;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin-right: 10px;
   }
   .title {
      font-family: Comfortaa;
      font-weight: 500;
      font-size: 18px;
      color: #fff;
      margin-right: 10px;     
   }
}
.stars {
   display: flex;
   align-items: center; 
   svg {
      margin: 0 2px;
   }

}
