@import'../../styles/variables.scss';

.button {
   position: relative;
   background-color: coral;
   width: 100%;
   overflow: hidden;
   margin: 15px 0;
   padding: 20px 0;
   border-radius: 14px;
}

.text {
   display: flex;
   justify-content: center;
   color: $color-white;
   font-size: 15px;
   font-style: normal;
   font-weight: 700;
   font-weight: bold;
   text-transform: uppercase;
   @include min(md) {
      font-size: 21px;
   }
}

.primary {
   border-bottom: 6px solid rgb(198, 82, 82);
   background: linear-gradient(90deg, rgb(255, 166, 122) 0%, rgb(255, 96, 101) 100%);
   
   .icon {
      @include d-flex-v-center;
      @include fluid;
      position: absolute;
      bottom: 0;
      
      transform: translateX(-100%);
      transition: all .35s ease-in-out;
   }
   
   .text {
      transform: translateX(0);
      transition: all .55s ease-Out;
   }

   &:hover {

      .icon {
         transform: translateX(20%);
      }

      .text {
         transform: translateX(10%);
      }

   }


}

.secondary {
   background: $color-blue;
   border-bottom: 6px solid #424a9e;
}

.third {
   background-color: $color-white;
   border: 2px solid $color-blue;

   .text {
      color: $color-blue;
   }
}