@import'../../styles/variables.scss';

.button {
   position: relative;
   background-color: coral;
   width: 100%;
   overflow: hidden;
   margin: 1.5rem 0;
   padding: 2rem 0;
   border-radius: 1.4rem;
   transition-property: transform, box-shadow;
   transition-duration: .4s;
   
   &:active {
      font-size: 1rem;
      transform: scale(.95);
      box-shadow: 0 3px 15px -2px;
   }

   @media (hover: hover) and (pointer: fine) {
     &:hover {
        .text {
           color: $color-pink;
        }
      } 
   }

}

.text {
   display: block;
   justify-content: center;
   color: $color-white;
   font-size: 1.5rem;
   font-style: normal;
   font-weight: 700;
   font-weight: bold;
   text-transform: uppercase;
   @include min(md) {
      font-size: 2.1rem;
   }
}

.primary {
   border-bottom: 0.6rem solid rgb(198, 82, 82);
   background: linear-gradient(90deg, rgb(255, 166, 122) 0%, rgb(255, 96, 101) 100%);
    .text {
      transition: 0.2s ease-out;
      transform: scale(1)
    }
   @media (hover: hover) and (pointer: fine) {
      &:hover {
         .text {
            transition: 0.2s ease-out;
            color: rgb(224, 224, 224);
            transform: scale(1.2);
         }
       } 
    }
}

.secondary {
   background: $color-blue;
   border-bottom: 0.6rem solid #424a9e;

}

.third {
   background-color: $color-white;
   border: 2px solid $color-blue;

   .text {
      color: $color-blue;
   }
}

