@import '../../styles/variables.scss';

.wrapper {
   position: absolute;
   width: 100%;
   height: 100%;
   min-height: 700px;

   background-color: $bg-primary;

   @include d-flex;
   @include d-flex-center;

   .top_left {
      content: url('../../assets/shapes/StartScreen/top_left_sm.svg');
      position: absolute;
      left: 0;
      top: 0;
      width: 40px; 

      @include min(md) {
         content: url('../../assets/shapes/StartScreen/top_left.svg');
         width: 100px;
      }
   }

   .top_right {
      content: url('../../assets/shapes/StartScreen/top_right_sm.svg');
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;

      @include min(md) {
         content: url('../../assets/shapes/StartScreen/top_right.svg');
      }
   }

   .bottom_left {
      content: url('../../assets/shapes/StartScreen/bottom_left_sm.svg');
      position: absolute;
      bottom: 0;
      left: 0;
      width: 120px;

      @include min(md) {
         content: url('../../assets/shapes/StartScreen/bottom_left.svg');
      }
   }

   .bottom_right {
      content: url('../../assets/shapes/StartScreen/bottom_right_sm.svg');
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40px;

      @include min(md) {
         content: url('../../assets/shapes/StartScreen/bottom_right.svg');
         width: 50px;
      }
   }



.title {
   font-style: normal;
   font-weight: bold;
   font-size: 26px;
   line-height: 32px;
   text-align: center;
   color: #fff;

   @include min(sm) {
      font-size: 36px;
   }
   @include min(md) {
      font-size: 40px;
   }
}

.logo {
   width: 100%;
   height: auto;
   margin-top: 20px;

   @include min(sm) {
      max-width: 600px;
      padding: 0;
   }
}

}
