@import '../../styles/variables.scss';

.wrapper {
   position: absolute;
   @include fluid;
   min-height: 70em;

   background-color: $bg-primary;

   @include d-flex-center;

   .top_left {
      content: url('../../assets/shapes/StartScreen/top_left_sm.svg');
      position: absolute;
      left: 0;
      top: 0;
      width: 4em; 

      @include min(md) {
         content: url('../../assets/shapes/StartScreen/top_left.svg');
         width: 10em;
      }
   }

   .top_right {
      content: url('../../assets/shapes/StartScreen/top_right_sm.svg');
      position: absolute;
      top: 0;
      right: 0;
      width: 10em;

      @include min(md) {
         content: url('../../assets/shapes/StartScreen/top_right.svg');
      }
   }

   .bottom_left {
      content: url('../../assets/shapes/StartScreen/bottom_left_sm.svg');
      position: absolute;
      bottom: 0;
      left: 0;
      width: 12em;

      @include min(md) {
         content: url('../../assets/shapes/StartScreen/bottom_left.svg');
      }
   }

   .bottom_right {
      content: url('../../assets/shapes/StartScreen/bottom_right_sm.svg');
      position: absolute;
      bottom: 0;
      right: 0;
      width: 4em;

      @include min(md) {
         content: url('../../assets/shapes/StartScreen/bottom_right.svg');
         width: 5em;
      }
   }



.title {
   font-style: normal;
   font-weight: bold;
   font-size: 2.6em;
   line-height: 3.2rem;
   text-align: center;
   color: $color-white;

   @include min(sm) {
      font-size: 3.6em;
   }
   @include min(md) {
      font-size: 4em;
   }
}

.logo {
   width: 100%;
   height: auto;
   margin-top: 2em;

   @include min(sm) {
      max-width: 60em;
      padding: 0;
   }
}

}
