@import '../../styles/variables.scss';

.numbers {
   display: flex;
   align-items: flex-end;

   .current {
      font-weight: 700;
      font-size: 2em;
      line-height: 2rem;
      color: $color-pink;

      @include min(md) {
         font-size: 2.8em;
      }

   }
   .container {

      display: flex;
      
      .total, .separator {
         color: $color-blue;
         font-size: 1.2em;
         line-height: 1.5rem;
         @include min(md) {
            font-size: 2.1em;
         }
      }
   }
}





