.enter, .appear {
   transform: translateX(-100%);
   opacity: 0;
}

.enterActive, .appearActive{
   transform: translateX(0);
   opacity: 1;
   transition: all 300ms linear 300ms;
}

.enterDone, .appearDone{
   transform: translateX(0);
   opacity: 1;
   transition: all 300ms linear 300ms;
}


.exit {
   transform: translateX(0);
   opacity: 0; 
}

.exitActive {
   transform: translateX(100%);
   opacity: 0;
   transition: all 300ms linear
}

