$bg-primary: #4751c0;
$bg-secondary: #fff;
$input-title: #f7a491;
$color-blue: #4953be;
$color-blue-2: #464FAC;
$color-pink: #FF7878;
$color-white: #fff;




// Mixins
@mixin d-flex {
    display: flex;
}

@mixin d-flex-column-center {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

@mixin d-flex-column {
    display: flex;
    flex-direction: column;
}

@mixin d-flex-center {
    justify-content: center;
    align-items: center;
}

@mixin d-flex-v-center {
    display: flex;
    align-items: center;
}

@mixin d-flex-h-center {
    display: flex;
    justify-content: center;
}

@mixin d-flex-between {
    justify-content: space-between;
}

@mixin fluid {
    width: 100%;
    height: 100%;
}

@mixin flex-grow {
    flex-grow: 1;
}

@mixin drop-shadow {
    box-shadow: 2px 4px 12px 1px rgba(142, 128, 239, 0.3);
}

/*********************
BREAKPOINTS
*********************/

$breakpoints: (
  xs: 360px, // $xs: 360px;
  sm: 576px, // $sm: 576px;
  md: 768px, // $md: 768px;
  lg: 992px, // $lg: 992px;
  xl: 1024px, // $xl: 1024px;
  xxl: 1280px, // $xl: 1280px;
  1440: 1440px, // $1440: 1440px;
  1600: 1600px, // $1600: 1600px;
  1920: 1920px, // $1920: 1920px;
);

@mixin min($key) {
   $size: map-get($breakpoints, $key);
   @media only screen and (min-width: $size) {
       @content;
   }
}

@mixin max($key) {
   $size: map-get($breakpoints, $key);
   @media only screen and (max-width: $size) {
       @content;
   }
}