@import '../../styles//variables.scss';

.container {
   position: relative;
   margin-top: 1em;
   margin-bottom: 2em;
   width: 100%;

   .header{
      position: relative;
      @include d-flex-v-center;

      height: 5.4rem;
      border: 0.1rem solid $color-white;
      border-radius: 1rem;
      background-color: transparent;
      padding: 0.4em 2em 0.4em 1em;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
      font-weight: 500;
      font-size: 1.8em;
      color: $color-white;

      &.isError {
         border: 0.1rem solid $color-pink;
      }
      

      /* Prevent from select */
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;

      /* Arrow Icon */
      &::before {
         content: "";
         position: absolute;
         width: 5.4rem;
         height: 5.4rem;
         top: 0;
         right: 1rem;
         background: url('../../assets/Icons/arrowDown_icon.svg') no-repeat;
         background-position: center;
      }

      cursor: pointer;
         &.isOpen {
            &::before {
               transform: rotate(-180deg);
            }
         }
      }
   }

   .listContainer {
      position: absolute;
      bottom: -1em;
      width: 100%;
      transform: translateY(100%);
      z-index: 100;

      ul {
         width: 100%;
         background: $color-white;
         border: 0.2rem solid #e5e5e5;
         border-radius: 1rem;
         color: rgb(37, 67, 87);
         font-size: 2em;
         font-weight: 700;
         background-color: $color-white;
         &:first-child {
           padding-top: 0.8em;
         }

         li {
            @include d-flex-v-center;
            justify-content: space-between;
            padding: 0 1em;
            width: 100%;
            list-style: none;
            margin-bottom: 0.8em;
            cursor: pointer;

            .icon {
               @include d-flex-v-center;
            }
            &:hover {
               color: #fd9e46;
            }
         }
      }

}
