@import '../../styles/variables.scss';

.element {

   @include d-flex-column;
   @include d-flex-between;
   @include fluid;
   
   max-height: 75em;
   padding: 0.4em;

   @include min(sm) {
      max-width: 70em;
      padding: 0;
   }


}