@import '../../styles/variables.scss';

.element {

   @include d-flex-column;
   @include fluid;
   @include d-flex-between;
   
   max-height: 750px;
   padding: 4px;

   @include min(sm) {
      max-width: 700px;
      padding: 0;
   }


}