@import '../../../styles/variables.scss';

.element {
   @include d-flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   min-height: 65px;
   background-color: #FFFBFA;
   border-radius: 14px;
   margin: 10px 0;
   padding: 0 16px;
   &.isFalse {
      background-color: #FFDBDB;
   }

   @include min(sm) {
      min-height: 72px;
      padding: 0 30px;
   }


   .question {
      color: $color-blue;
      font-size: 12px;

      @include min(sm) {
         font-size: 16px;
      }
   }

   .icon {
      height: 15px;
      width: auto;
      margin-left: 8px;
   }
}