@import '../../../styles/variables.scss';

.element {
   width: 100%;
   background-color: $bg-question-true;
   border-radius: 1.4em;
   margin: 1em 0;
   &.isFalse {
      background-color: $bg-question-false;
   }

   .wrapper {
      @include d-flex-v-center;
      min-height: 6.5em;
      justify-content: space-between;
      padding: 1em 2em;
      @include min(md) {
         min-height: 7.9em;
      }

      .question {
         color: $color-blue;
         font-size: 1.2rem;
         @include min(md) {
            font-size: 1.6rem;
         }
      }
   
      .icon {
         height: 1.5em;
         width: auto;
         margin-left: 0.8em;
      }
   }
}