@import '../../styles/variables.scss';

header {
   margin-top: 5em;
}

.wrapper {
   position: absolute;
   min-height: 70em;

   background-color: $bg-primary;

   @include fluid;
   @include d-flex-center;

   .top_left {
      content: url('../../assets/shapes/ResultScreen/top_left_sm.svg');
      position: absolute;
      left: 0;
      top: 6em;
      width: 8em; 

      @include min(md) {
         content: url('../../assets/shapes/ResultScreen/top_left.svg');
         width: 7em;
         top: 0;
      }
   }

   .mid_right {
      content: url('../../assets/shapes/ResultScreen/mid_right_sm.svg');
      position: absolute;
      right: 0;
      top: 13em;  
      width: 8em;
   }

   .mid2_right {
      content: url('../../assets/shapes/ResultScreen/mid2_right_sm.svg');
      position: absolute;
      right: 0;
      bottom: 5em;  
      width: 10em;
   }

   .top_right {
      content: url('../../assets/shapes/ResultScreen/top_right_sm.svg');
      position: absolute;
      top: 0;
      right: 0;
      width: 6em;

      @include min(md) {
         content: url('../../assets/shapes/ResultScreen/top_right.svg');
         width: 8em;
         top: 10%;
      }
   }

   .bottom_left {
      content: url('../../assets/shapes/ResultScreen/bottom_left_sm.svg');
      position: absolute;
      bottom: 25%;
      left: -5%;
      width: 12em;


      @include min(md) {
         content: url('../../assets/shapes/ResultScreen/bottom_left.svg');
         width: 12em;
         bottom: 0;
         left: 0;
      }
   }

   .bottom_right {
      content: url('../../assets/shapes/ResultScreen/bottom_right_sm.svg');
      position: absolute;
      bottom: 0;
      right: 0;
      width: 6em;

      @include min(md) {
         content: url('../../assets/shapes/ResultScreen/bottom_right.svg');
         width: 6em;
      }
   }
   .mainContainer {
      @include d-flex-column;
      @include fluid;
      

      margin: 1.5em auto;
      max-width: 62em;
      padding: 2.6em;
      z-index: 100;
      overflow-y: auto;
      -ms-overflow-style: none;  
      scrollbar-width: none;
      

      &::-webkit-scrollbar {
         display: none;
      }

      /* scroll bar width, for use in mask calculations */
      --scrollbar-width: 0.8em;

      /* mask fade distance, for use in mask calculations */
      --mask-height: 3em;

      /* The CSS mask */

      /* The content mask is a linear gradient from top to bottom */
      --mask-image-content: linear-gradient(
        to bottom,
        transparent,
        black var(--mask-height),
        black calc(100% - var(--mask-height)),
        transparent
      );

      /* Here we scale the content gradient to the width of the container 
      minus the scrollbar width. The height is the full container height */
      --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

      /* The scrollbar mask is a black pixel */
      --mask-image-scrollbar: linear-gradient(black, black);

      /* The width of our black pixel is the width of the scrollbar.
      The height is the full container height */
      --mask-size-scrollbar: var(--scrollbar-width) 100%;

      /* Apply the mask image and mask size variables */
      mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
      mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

      /* Position the content gradient in the top left, and the 
      scroll gradient in the top right */
      mask-position: 0 0, 100% 0;

      /* We don't repeat our mask images */
      mask-repeat: no-repeat, no-repeat;
      }
   
}
