@import '../../styles/variables.scss';

.wrapper {
   position: absolute;
   width: 100%;
   height: 100%;
   min-height: 700px;

   background-color: $bg-primary;

   @include d-flex;
   @include d-flex-center;

   .top_left {
      content: url('../../assets/shapes/ResultScreen/top_left_sm.svg');
      position: absolute;
      left: 0;
      top: 60px;
      width: 80px; 

      @include min(md) {
         content: url('../../assets/shapes/ResultScreen/top_left.svg');
         width: 70px;
         top: 0;
      }
   }

   .mid_right {
      content: url('../../assets/shapes/ResultScreen/mid_right_sm.svg');
      position: absolute;
      right: 0;
      top: 20%;  
      width: 80px;
   }

   .mid2_right {
      content: url('../../assets/shapes/ResultScreen/mid2_right_sm.svg');
      position: absolute;
      right: 0;
      bottom: 15%;  
      width: 100px;
   }

   .top_right {
      content: url('../../assets/shapes/ResultScreen/top_right_sm.svg');
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;

      @include min(md) {
         content: url('../../assets/shapes/ResultScreen/top_right.svg');
         width: 80px;
         top: 10%;
      }
   }

   .bottom_left {
      content: url('../../assets/shapes/ResultScreen/bottom_left_sm.svg');
      position: absolute;
      bottom: 25%;
      left: -5%;
      width: 120px;


      @include min(md) {
         content: url('../../assets/shapes/ResultScreen/bottom_left.svg');
         width: 120px;
         bottom: 0;
         left: 0;
      }
   }

   .bottom_right {
      content: url('../../assets/shapes/ResultScreen/bottom_right_sm.svg');
      position: absolute;
      bottom: 0;
      right: 0;
      width: 60px;

      @include min(md) {
         content: url('../../assets/shapes/ResultScreen/bottom_right.svg');
         width: 60px;
      }
   }
   .mainContainer {
      @include d-flex;
      @include d-flex-column;
      justify-items: center;
      margin: 15px auto;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
      max-width: 620px;
      padding: 26px;
      z-index: 100;
      overflow-y: auto;
      -ms-overflow-style: none;  
      scrollbar-width: none;
      

      &::-webkit-scrollbar {
         display: none;
       }

   /* scroll bar width, for use in mask calculations */
   --scrollbar-width: 8px;
       
   /* mask fade distance, for use in mask calculations */
   --mask-height: 30px;
      

   /* The CSS mask */
       
   /* The content mask is a linear gradient from top to bottom */
   --mask-image-content: linear-gradient(
     to bottom,
     transparent,
     black var(--mask-height),
     black calc(100% - var(--mask-height)),
     transparent
   );
       
   /* Here we scale the content gradient to the width of the container 
   minus the scrollbar width. The height is the full container height */
   --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
       
   /* The scrollbar mask is a black pixel */
   --mask-image-scrollbar: linear-gradient(black, black);
       
   /* The width of our black pixel is the width of the scrollbar.
   The height is the full container height */
   --mask-size-scrollbar: var(--scrollbar-width) 100%;
       
   /* Apply the mask image and mask size variables */
   mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
   mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
       
   /* Position the content gradient in the top left, and the 
   scroll gradient in the top right */
   mask-position: 0 0, 100% 0;
       
   /* We don't repeat our mask images */
   mask-repeat: no-repeat, no-repeat;
   }
   
}
