@import '../../../styles/variables.scss';

.element {
   @include d-flex; 
   @include d-flex-column;
   
   max-width: 45em;
   width: 100%;

   padding: 0 2.6em;

   @include min(sm) {
      padding: 0;
   }

   .title {
      @include d-flex; 
      @include d-flex-v-center;

      svg {
         margin-right: 1.5em;
         width: 2.4em;
         height: auto;

         @include min(sm) {
            width: 3em;
         }
         @include min(md) {
            width: 3.5em;
         }
      }
      
      .title {
         color: $input-title;
         font-size: 1.3em;
         font-weight: 700;

         @include min(sm) {
            font-size: 1.5em;
         }
      }
   }

}


