@import '../../styles/variables.scss';

.wrapper {
   width: 100%;
   padding: 0 2.6em;
   max-width: 45em;
   margin-top: 5em;
   
   .container {
      height: 0.5em;
      width: 100%;
      background-color: $bg-progressBar;
      border-radius: 2em;
      margin-top: 1em;

      .filler {
         height: 100%;
         background-color: $color-pink;
         border-radius: inherit;
      }
   }


}
